<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>

    <add name="DBCS" connectionString="data source=DESKTOP-2C5JRB1\SQLEXPRESS;Integrated Security=SSPI;database=AdventureWorks2014" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="DepartmentService.DepartmentService" behaviorConfiguration="mexBehaviour">
        <endpoint address="DepartmentService" binding="basicHttpBinding" contract="DepartmentService.IDepartmentService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    <system.web>
        <identity impersonate="false" />
        <authentication mode="Forms" />
    </system.web>
</configuration>