<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior0" name="DepartmentService.DepartmentService">
                <endpoint address="DeptService" binding="basicHttpBinding" bindingConfiguration=""
                    contract="DepartmentService.IDepartmentService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:880" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>